@using BatDongSan.Models.NhanSu
@model IList<sp_NS_NhanVien_IndexResult>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;    
}
<link rel="stylesheet" href="~/Content/batdongsan-alert.css" />
<script src="~/Scripts/batdongsan.generals.js"></script>
<script src="~/Scripts/batdongsan.utils.js"></script>
<script type="text/javascript" src="~/Scripts/Jquery.treeview/jquery.treeview.js"></script>
<link rel="stylesheet" href="~/Scripts/Jquery.treeview/jquery.treeview.css" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<style>
    #content td, th
    {
        border-bottom: 1px inset #ADC2D6;
        position: relative;
        text-align: center;
    }

    #navigation1
    {
        overflow: auto;
        height: 600px;
        display: none;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $("#navigation1").treeview({
            persist: "location",
            collapsed: false,
            unique: false
        });

        $('ul.dropdown-menu .hitarea').on('click', function (event) {
            event.stopPropagation();
        });

        $('#txtsearch').keyup(function () {
            $('#navigation1').filterLink($('#txtsearch').val());
        });

        //$("#phongban-dropdown-menu").removeAttr("style");

        $("#customModal").on("hide.bs.modal", function () {
            $("#custom-panel").html("");
        });

        $(document).on("click", ".btnEdit", function () {
            var url = "/NhanVien/Edit/" + this.value;
            location.href = url;
        })

        $("#btnSearch").click(function () {
        })

        $(document).on("click", "#phongban-dropdown-menu li a", function () {
            $("#btnPhongBan").val(this.id);
            $(this).parents(".dropdown").find('.btn').html($(this).text() + ' &nbsp;<span class="caret"></span>');

        })

        $(document).on("click", ".btnDelete", function () {
            var cf = window.confirm("Bạn có muốn xóa không")
            if (cf) {
                var url = "@Url.Action("Delete", "NhanVien")" + "/" + this.value;
                var form = document.getElementById("form-submit");
                form.action = url;
                form.submit();
            }
        })

    });

    function them() {
        var url = "@Url.Action("Create", "NhanVien")";
        location.href = url;
    }

    function beginPaging(args) {
        // Animate        
        $('#content').fadeOut('fast');
    }

    function successPaging() {
        // Animate
        $('#content').fadeIn('fast');
    }

    function failurePaging() {
        alert("Không thể tải dữ liệu");
    }

    function enterToSeacrh(event) {
        if (event.keyCode == 13)
            $("#btnSearch").click();
    }

    function search() {
        data = { prop: 1, myArray: [1, "two", 3] };
        //'data' is much more complicated in my real application
        var jsonOfLog = JSON.stringify(data);

        $.ajax({
            type: 'POST',
            dataType: 'text',
            url: "ChamCong/GetChamCong",
            data: "jsonOfLog=" + jsonOfLog,
            success: function (returnPayload) {
                alert("hello");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console && console.log("request failed");
            },

            processData: false,
            async: false
        });
    }
</script>
<form id="form-submit" method="post">
    <div id="container">
        <fieldset class="removeBorderFieldset">
            <div id="tabs" style="" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a><span>Danh sách nhân viên</span></a></li>
                </ul>
            </div>
            <div class="form-inline">
                <div class="panel-body">
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" id="pref-search" onkeypress="enterToSeacrh(event)" value="@ViewBag.Search" />
                    </div>
                    <div class="form-group">
                        <button id="getCongTrinh" type="button" class="btn btn-primary btn-sm" onclick="search()">
                            <span class="glyphicon glyphicon-search" style="top: 4px; right: 5px;"></span>Lấy dữ liệu chấm công
                        </button>
                    </div>
                    @*    <div class="form-group" style="float: right">
                        <button class="btn btn-info" type="button" onclick="them()">Thêm </button>
                    </div>
                    <div class="form-group" id="phongban-div">
                        <div class="dropdown">
                            <button class="btn btn-primary btn-sm dropdown-toggle" id="btnPhongBan" type="button" data-toggle="dropdown">
                                Danh sách phòng ban&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="phongban-dropdown-menu">
                                <li role="presentation">
                                    <div class="form-group has-feedback" style="width: 98%">
                                        <input type="text" class="form-control input-sm" id="txtsearch" placeholder="Search" style="width: 100%" />
                                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    </div>
                                </li>
                                <li role="presentation">
                                    @Html.Raw(ViewBag.PhongBans)
                                </li>
                            </ul>
                        </div>
                    </div>*@
                </div>
            </div>
            <div id="content">
                @{Html.RenderPartial("PartialIndex");}
            </div>
            <div style="text-align: center; display: none" id="loader">
                <img src="/Images/loader.gif" />
            </div>
        </fieldset>
    </div>
</form>
