
<script type="text/javascript" src="~/Scripts/Jquery.treeview/jquery.treeview.js"></script>
<link rel="stylesheet" href="~/Scripts/Jquery.treeview/jquery.treeview.css" />
<script>
    $(document).ready(function () {

        var heightBrowser = $(window).height();
        var heightWrapper = $(".PopUpChuyenPhongBan").height();

        var heightSet = heightBrowser - heightWrapper;
        heightSet = parseInt(heightSet);
        heightSet = heightSet - 50;

        $("#TreeChuyenPB").css("height", heightSet - 10);
        $("#TreeChuyenPB #navigation1").treeview({
            persist: "location",
            collapsed: true,
            unique: false
        }).find(".expandable-hitarea").click();
        $("#TreeChuyenPB #navigation1 a").click(function () {
            $.each($("#TreeChuyenPB #navigation1 a"), function () {
                $(this).css("color", "");
            });
            $(this).css("color", "red");
            parentId = $(this).attr("alt");
            if (parentId != "") {
                clsArrManv = $("#clsArrManv").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("updateListNVPhongBan/","PhongBan")',
                    data: {
                        MaNV: clsArrManv,
                        MaPB: parentId
                    },
                    success: function (result) {

                        if (result == "true") {
                            Alert.success("Chuyển nhân viên thành công!", "Thông báo", { displayDuration: 2000 });                          
                            CloseWindow();

                        }
                        else {
                            Alert.error(result, "Thông báo", { displayDuration: 2000 });
                        }

                    }
                });
            }
        });

    });
    function CloseWindow() {
        $('#myModalChonPhongBan').modal("toggle");
        $("#btnSearch").click();
    }
</script>
<div id="content" class="PopUpChuyenPhongBan">
     <input type="hidden" value="@ViewBag.NhanVienChuyen" class="clsArrManv" id="clsArrManv" />
    <div id="tabs" style="width: 100%;height: auto;border: none;float: left;box-sizing: border-box;overflow: hidden;clear: none;" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
           
            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active ">
                <a class="hvr-underline"><span><i class="fa fa-yelp" aria-hidden="true"></i> Danh mục Bộ phận</span></a></li>
            </ul>
        </div>
    <div style="width: 100%; float: left; overflow: auto" id="TreeChuyenPB">
        @Html.Raw(ViewBag.PhongBanChuyen)
    </div>
</div>
