@using BatDongSan.Models.NhanSu;
@model IPagedList<sp_BC_NS_HopDongSapHetHanResult>
@{
    ViewBag.Title = "Danh sách hợp đồng sắp hết hạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/additional-methods.min.js"></script>
<script src="~/Scripts/autoNumeric.js"></script>
<script src="~/Scripts/batdongsan.validate.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/vi.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $().ready(function () {
        $(".numberinput").autoNumeric('init', { mDec: 0, mNum: 3, lZero: 'deny', aSep: ',', aDec: '.', pSign: 's', vMin: '0' });
        $('#btnTimKiem').click(function () {
            var searchText = $('#searchString').val().replace(/\ /g, '+');
            var url = "@Url.Action("BCHopDongSapHetHan", "BaoCaoNhanSu")" + "?searchString=" + searchText + "&soNgayHetHan=" + $("#soNgay").val();
            beginPaging();
            $('#content').load(url);
            successPaging();
        });
        
    });
    function enterToSeacrhSN(event) {
        if (event.keyCode == 13)
            $("#btnTimKiem").click();
    }
    function enterToSeacrh(event) {
        if (event.keyCode == 13)
            $("#btnTimKiem").click();
    }
</script>
<form id="form-listview">
    <div id="container">
        <fieldset class="removeBorderFieldset">
            <div id="tabs" style="" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a><span>Danh sách hợp đồng sắp hết hạn</span></a></li>
                </ul>
            </div>
            <div id="filter-panel" class="collapse filter-panel" style="display: block; position: relative">
                <div class="panel panel-default background_top">
                    <table class="table table-striped table-hover table-condensed">
                        <tr class="background_tr">
                            <td><span style="float: left">Số ngày:</span><span style="float: left"><input type="text" id="soNgay" value="@ViewBag.soNgayHetHan" class="form-control numberinput" style="float:left" placeholder="Nhập số ngày " onkeypress="enterToSeacrhSN(event);" /></span>
                                <div style="float:left;width:30%">
                                    <input type="text" id="searchString" value="@ViewBag.Search" class="form-control" style="float:left" placeholder="Nhập giá trị tìm kiếm" onkeypress="enterToSeacrh(event);" />

                                </div>
                                <div style="float:left">
                                    <button type="button" class="btn btn-info" id="btnTimKiem" style="width:50px">Xem</button>
                                        </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
            <div id="content">
                @{Html.RenderPartial("ViewIndexHDHH");}
            </div>
        </fieldset>
    </div>

</form>
