@using BatDongSan.Models.DanhMuc;
@model tbl_DM_LyDoThoiViec
<script src="/Scripts/jquery.validate.min.js"></script>
<script src="/Scripts/additional-methods.min.js"></script>
<script src="/Scripts/batdongsan.validate.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/vi.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
<script>
    $(document).ready(function () {
        $(".datepicker").datetimepicker({
            locale: 'vi',
            format: 'DD/MM/YYYY'
        });

        $(document).on("dp.change", "#holidayDate", function (e) {
            $("#compensatoryLeaveDate").val(moment(e.date).format("DD/MM/YYYY"));
        });
    })
</script>
<div class="bs-callout bs-callout-info" id="callout-glyphicons-location">
    <h4 style="color: #1b809e; margin-left: 10px">Cập nhật lý do thôi việc</h4>
</div>
<div style="margin-top: 15px">
    <table class="table table-condensed" id="tbl-create">
        <tr>
            <td class="tdtitle">Tên lý do thôi việc <span style="font-style: italic; color: red">*</span></td>
            <td>@Html.TextBoxFor(model => model.tenLyDoThoiViec, new { @class = "form-control", required = "required" })</td>
        </tr>
       
    </table>
</div>
<style>
    #tbl-create td
    {
        border: none;
    }

    #tbl-create
    {
        margin: 0;
    }
</style>
