@using BatDongSan.Models.DanhMuc;
@model tbl_DM_NgheNghiep
<div class="bs-callout bs-callout-info" id="callout-glyphicons-location">
    <h4 style="color: #1b809e; margin-left: 10px">Tạo mới tên nghề nghiệp</h4>
</div>
<div style="margin-top: 15px">
    <table class="table table-responsive" id="tbl-create">
        <tr>
            <td class="tdtitle">Mã nghề nghiệp <span style="font-style: italic; color: red">*</span></td>
            <td>@Html.TextBoxFor(model => model.maNgheNghiep, new { @class = "form-control", required = "required" })</td>
        </tr>
        <tr>
            <td class="tdtitle">Tên nghề nghiệp <span style="font-style: italic; color: red">*</span></td>
            <td>@Html.TextBoxFor(model => model.tenNgheNghiep, new { @class = "form-control", required = "required" })</td>
        </tr>
        <tr>
            <td class="tdtitle">Ghi chú</td>
            <td>@Html.TextBoxFor(model => model.ghiChu, new { @class = "form-control" })</td>
        </tr>
    </table>
</div>
<style>
    #tbl-create td
    {
        border: none;
    }

    #tbl-create
    {
        margin: 0;
    }
</style>
