@{
    ViewBag.Title = "Thay đổi mật khẩu";
   
}
<link rel="stylesheet" href="~/Content/login.css" />
<script>
    $(document).ready(function () {
        $("#btnUpdatePW").click(function () {
            var oldpass = $("#oldpassword").val();
            var passw = $("#password").val();
            var rePassw = $("#repassword").val();
            if (passw == "" || rePassw == "" || oldpass == "") {

                $(".inforLoginFailed").html("Cập nhật mật khẩu thất bại").css("color", "red");
                $("#oldpassword").focus();

                return false;
            }
            if (passw != rePassw) {

                $(".inforLoginFailed").html("Cập nhật mật khẩu thất bại").css("color", "red");
                $("#oldpassword").focus();
                return false;
            }
            else {
                //Quen Mật khẩu
                $.ajax({
                    url: "@Url.Action("ProcesschangePassword", "User")",
                    type: "POST",
                    data: {
                        passwd: $("#password").val(),
                        oldpasswd: $("#oldpassword").val()
                    },
                    success: function (data) {

                        if (data == "ok") {

                            $(".inforLoginFailed").html("Cập nhật mật khẩu thành công").css("color", "green");
                            setTimeout(function () {

                                location.href = "@Url.Action("Index", "Home")";
                        }, 1000);


                    }
                    else {

                        $(".inforLoginFailed").html("Cập nhật mật khẩu thất bại").css("color", "red");
                        $("#oldpassword").focus();
                        return false;
                    }

                }
                });
                // End
        }
        });



    });
function enterToSeacrh(event) {
    if (event.keyCode == 13)
        $("#btnUpdatePW").click();
}
$(document).ready(function () {
    $('#password').keyup(function () {
        $('#result').html(checkStrength($('#password').val()))
    })
    function checkStrength(password) {
        var strength = 0;
        var html = '';
        if (password.length < 6) {
            $('#result').removeClass()
            $('#result').addClass('short');
            $(".btnUpdatePW").hide();
            return 'Quá ngắn'
        }
        if (password.length > 7) { strength += 1; }
        // If password contains both lower and uppercase characters, increase strength value.
        if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) { strength += 1; }
        // If it has numbers and characters, increase strength value.
        if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) { strength += 1; }
        // If it has one special character, increase strength value.
        if (password.match(/([!,%,&,@@,#,$,^,*,?,_,~])/)) { strength += 1 }
        // If it has two special characters, increase strength value.
        if (password.match(/(.*[!,%,&,@@,#,$,^,*,?,_,~].*[!,%,&,@@,#,$,^,*,?,_,~])/)) { strength += 1 }
        // Calculated strength value, we can return messages
        // If value is less than 2
        if (strength < 2) {
            $('#result').removeClass()
            $('#result').addClass('weak');
            $(".btnUpdatePW").hide();

            return 'Yếu'
        } else if (strength == 2) {
            $('#result').removeClass()
            $('#result').addClass('good');
            $(".btnUpdatePW").show();
            return 'Mạnh'
        } else {
            $('#result').removeClass()
            $('#result').addClass('strong');
            $(".btnUpdatePW").show();
            return 'Rất mạnh'
        }
    }
});
</script>
<style>
    .require
    {
        color: red;
    }

    .wrapper_newPass
    {
        border: 1px solid #ccc;
    }
    
    #register label
    {
        margin-right: 5px;
    }


    #register .short
    {
        font-weight: bold;
        color: #FF0000;
        font-size: larger;
    }

    #register .weak
    {
        font-weight: bold;
        color: orange;
        font-size: larger;
    }

    #register .good
    {
        font-weight: bold;
        color: #2D98F3;
        font-size: larger;
    }

    #register .strong
    {
        font-weight: bold;
        color: limegreen;
        font-size: larger;
    }
</style>
<div class="wrapper_page_login wrapper_newPass">
    <div class="box_form_login">
        <div class="form_login_account" id="register">
            <div>@ViewBag.Susccess</div>
            <div class="inforLoginFailed"></div>
            <h4 class="title">Thay đổi mật khẩu</h4>

            <form class="form-horizontal " method="post" id="form-submit">
                <div class="form-group txtLoginUserID">
                    <label class="control-label col-sm-12 text-left">Mật khẩu hiện tại:<span class="require">(*)</span></label>
                    <div class="col-sm-12">
                        <input type="password" class="form-control" id="oldpassword" required="required" onkeypress="enterToSeacrh(event)" name="oldpassword">
                    </div>
                </div>
                <div class="form-group txtLoginUserID">
                    <label class="control-label col-sm-12 text-left">Mật khẩu mới:<span class="require">(*)</span></label>
                    <div class="col-sm-12">
                        <input type="password" class="form-control" id="password" required="required" onkeypress="enterToSeacrh(event)" name="password">
                        <span id="result"></span>
                    </div>
                </div>
                <div class="form-group txtLoginUserID">
                    <label class="control-label col-sm-12 text-left">Nhập lại mật khẩu mới:<span class="require">(*)</span></label>
                    <div class="col-sm-12">
                        <input type="password" class="form-control" id="repassword" onkeypress="enterToSeacrh(event)" required="required" name="repassword">
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-sm-12">

                        <input class="btn btn-primary btnUpdatePW form-control" type="button" id="btnUpdatePW" value="Save" style="width: 100%; font-size: 16px !important; box-sizing: border-box; display:none">
                    </div>
                </div>
                <div class="form-group">
                     <div class="col-sm-12">
                         <div class="alert alert-warning" role="alert" style="cursor:default !important">Mật khẩu phải bao gồm ký tự hoa, thường.</div>
                         
                     </div>

                 </div>


            </form>


        </div>
    </div>

    <div class="box_footer_form_login">
    </div>
</div>
